<!DOCTYPE html>
<html><head>
    <title>Akshaya Mishra | Principal Research Scientist, CV/ML | akshaya.mishra.kumar@gmail.com</title>
    <meta content="text/html; charset=UTF-8" http-equiv="content-type">
    <meta content="akshaya,mishra,resume,cv,software,developer, deep learning, principal research scintist, ec2,aws,amazon,web,services, computer vision, machine learning" name="keywords">
    <meta content="Akshaya's resume" name="description">
    <link href="../static/css/yui-2.css" media="all" rel="stylesheet" type="text/css">
    <link href="../static/css/resume.css" media="all" rel="stylesheet" type="text/css">
    <link href="../static/css/custom.css" media="all" rel="stylesheet" type="text/css">
    <script src="../static/js/ga.js" async="" type="text/javascript"></script><script type="text/javascript">
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-26804008-1']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
    </script>
  </head>
  <body>
    <div class="yui-t7" id="doc2">
      <div id="inner">
        <div id="hd">
          <div class="yui-gc">
            <div class="yui-u first">
              <h1>Akshaya Mishra</h1>
              <h2>Principal Research Scientist</h2>
            </div>
            <div class="yui-u">
              <div class="contact-info">
                <h3>
                  <a href="profile" id="pdf">Profile</a>
                </h3>
                <h3>
                  <a href="mailto:akshaya.mishra.kumar@gmail.com">akshaya.mishra.kumar@gmail.com</a>
                </h3>
                <h3>
                  <a href="http://dashanalytic.com/" target="_blank">akshaya.mishra.com</a>
                </h3>
              </div>
            </div>
          </div>
        </div>
        <div id="bd">
          <div id="yui-main">
            <div class="yui-b">
              <div class="yui-gf">
                <div class="yui-u first">
                  <h2>Summary</h2>
                </div>
                <div class="yui-u">
                  <p class="enlarge">
                   Ten years of research and software development experience in applications of deep learning in speech, image and video processing,
                      Bayesian belief network for modeling time series data, functional programming and rapid prototyping for new product innovation,
                      software driven product architecture design, fault detection of software systems and cloud based software app development
                  </p>
                </div>
              </div>
              <div class="yui-gf">
                <div class="yui-u first">
                  <h2>Skills</h2>
                </div>
                <div class="yui-u">
                  <div class="talent">
                    <h2>Innovator and Software Developer </h2>
                    <p> Extensive expereince in switching gear between core fundamental research and coding  quality software.
                        Passionate to solve really hard problems and bring them through to a feasible product</p>
                  </div>
                  <div class="talent">
                    <h2>Customer First</h2>
                    <p>Focus on delivering software on time with robust code quality, and prepared for unexplored usability issues and software bugs.
                        Accountable for success and failure of projects. Prioritizing busnisess requirements over personal ambitions</p>
                  </div>
                  <div class="talent">
                    <h2>Mentorship &amp; Collaborative Work</h2>
                    <p>Percived as a natural leader and mentor. Passionate about learning new technologies, believes in  teamwork and empowered team.
                        Proven success in delivering robust video analytic softwares.
                    </p>
                  </div>
                </div>
              </div>
              <div class="yui-gf">
                <div class="yui-u first">
                  <h2>Technical</h2>
                </div>
                <div class="yui-u">
                  <ul class="talent">
                    <li>C, C++, Python</li>
                    <li>Matlab, Scala, R</li>
                    <li class="last">OpencV, Eigen</li>
                  </ul>
                  <ul class="talent">
                    <li>Linux, GNU toolchain</li>
                    <li>AWS web service</li>
                    <li class="last">Git, CVS</li>
                  </ul>
                  <ul class="talent">
                    <li>TensorFlow, Theano</li>
                    <li>scikit-learn, Scipy</li>
                    <li class="last">ITK, VTK</li>
                  </ul>
                </div>
              </div>
              <div class="yui-gf">
                <div class="yui-u first">
                  <h2>Experimented With</h2>
                </div>
                <div class="yui-u">
                  <ul class="talent">
                    <li>Flask / Django</li>
                    <li>Scala, Hadoop</li>
                    <li class="last">Spark</li>
                  </ul>
                  <ul class="talent">
                    <li>MongoDB / MySql</li>
                    <li>Java Script</li>
                    <li class="last">Lua</li>
                  </ul>
                  <ul class="talent">
                    <li>Windows</li>
                    <li>Unix / Solaris</li>
                  </ul>
                </div>
              </div>
              <div class="yui-gf">
                <div class="yui-u first">
                  <h2>Experience</h2>
                </div>
                <div class="yui-u">
                  <div class="job">
                    <h2>Miovision Technologies Inc. (Incubation Lab )</h2>
                    <h3>Principal Research Scientist (Waterloo)</h3>
                    <h4>Jun 2016 - present</h4>
                    <p>TODO</p>
                    <ul>
                      <li>TODO</li>
                      <li>TODO</li>
                    </ul>
                  </div>
                  <div class="job">
                    <h2>Miovision Technologies Inc. (Video Analytics on AWS)</h2>
                    <h3>Lead Research Scientist (Waterloo)</h3>
                    <h4>July 2014 - May 2016</h4>
                    <p>TODO</p>
                    <ul>
                      <li>
                        TODO
                      </li>
                      <li>
                        TODO
                      </li>
                    </ul>
                  </div>
                  <div class="job">
                    <h2>Miovision Technologies Inc. (Spectrum)</h2>
                    <h3>Applied Research Scientist and DSP Developer (Waterloo)</h3>
                    <h4>Aug 2011 - June 2014</h4>
                    <p>TODO</p>
                    <ul>
                      <li>TODO</li>
                      <li>TODO</li>
                      <li>TODO</li>
                      <li>TODO</li>
                      <li>TODO</li>
                      <li>TODO</li>
                      <li>TODO</li>
                      <li>TODO</li>
                    </ul>
                  </div>
                  <div class="job">
                    <h2>Tornado Medical Systems</h2>
                    <h3>Senior Software Developer(Toronto)</h3>
                    <h4>Jul 2010 - Jul 2011</h4>
                    <p>TODO</p>
                    <ul>
                      <li>
                       TODO
                      </li>
                      <li>
                        TODO
                      </li>
                      <li>
                       TODO
                      </li>
                      <li>
                        TODO
                      </li>
                      <li>
                        TODO
                      </li>
                      <li>
                       TODO
                      </li>
                    </ul>
                  </div>

                  <div class="job">
                    <h2>Read-Ink Technologies Inc.</h2>
                    <h3>Software Developer(Banagalore)</h3>
                    <h4>Jul 2010 - Jul 2011</h4>
                    <p>TODO</p>
                    <ul>
                      <li>
                       TODO
                      </li>
                      <li>
                        TODO
                      </li>
                      <li>
                       TODO
                      </li>
                      <li>
                        TODO
                      </li>
                      <li>
                        TODO
                      </li>
                      <li>
                       TODO
                      </li>
                    </ul>
                  </div>
                  <div class="job last">
                    <h2>Scholarly Contributions</h2>
                    <h3>Adjuct Assistant Professor</h3>
                    <h4>2013 - present</h4>
                  </div>
                </div>
              </div>
              <div class="yui-gf last">
                <div class="yui-u first">
                  <h2>Education</h2>
                </div>
                <div class="yui-u education">
                  <h2>University of Waterloo, Waterloo, On, Canada</h2>
                  <h3>
                    PhD in Systems Design Engineering (pattern analysis and machine intelligence)-
                    <strong>Category one</strong>
                  </h3>
                  <h4>2007-2010</h4>
                     <ul>
                          <li> Thesis: Decoupled Deformable Model For 2D/3D Boundary Detection</li>
                      </ul>
                </div>
                  <div class="yui-u education">
                  <h2>Indian Institute of Technology, Kharagpur, India</h2>
                  <h3>
                    M.Tech., ECE, Automation and Computer Vision
                    <strong>Batch topper </strong>
                  </h3>
                  <h4>2002-2004</h4>
                      <ul>
                          <li> Thesis: Automatic Visual Inspection Of Refractory Bricks</li>
                      </ul>
                </div>
                  <div class="yui-u education">
                  <h2>University College of Engineering (UCE), Burla, India</h2>
                  <h3>
                   B.E., Electrical Engineering
                  </h3>
                  <h4>2007-2010</h4>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div id="ft">
          <p>
            Akshaya Mishra
            —
            <a href="http://dashanalytics.com/" target="_blank">akshaya.mishra.com</a>
          </p>
        </div>
      </div>
    </div>


</body></html>